@font-face{
	font-family:hwxk; /*华文楷体*/
	src:url("../fonts/hwxk.ttf");
}

button{
	

margin: 0 auto;
	background: #70c3ff;
	color: white;
	font-family: hwxk;
	

font-size: 1rem;
	text-align: center;
	border-radius: 8px;
	/*子绝父相对*/
	

position: relative;
	/*子溢出父元素隐藏 这样hover子元素的时候 不算hover父元素*/
	

overflow: hidden;
	transition: all .3s ease;
}
button::after{
	content: "";
	

position: absolute;
	/*首先隐藏子元素*/
	left: -100%;
	top: 0;
	/*设置和父元

素一样大*/
	width: 100%;
	height: 100%;
	/*添加从左往右的渐变 即模仿光照效果*/
	

background-image: -webkit-linear-gradient(0deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.5),hsla

(0,0%,100%,0));
	background-image: linear-gradient(to right,hsla(0,0%,100%,0),hsla

(0,0%,100%,.5),hsla(0,0%,100%,0));
	/*光照是斜着的更好看*/
	-o-transform: skewx(-

25deg);
	-moz-transform: skewx(-25deg);
	-webkit-transform: skewx(-25deg);
	

transform: skewx(-25deg);
	/*添加动画效果 直接继承父类的效果*/
	transition: 

inherit;
}

button:hover::after {
	/*鼠标放在父元素上 移动子元素*/
	left: 100%;
}
button:hover {
	/*向上移动6个像素*/
	-moz-transform: translateY(-6px);
	-

webkit-transform: translateY(-6px);
	transform: translateY(-6px);
	/*添加一个淡一点的阴

影*/
	-moz-box-shadow: 0 26px 40px -24px rgba(0,36,100,.5);
	-webkit-box-shadow: 0 26px 

40px -24px rgba(0,36,100,.5);
	box-shadow: 0 26px 40px -24px rgba(0,36,100,.5);
}
