@font-face{
	font-family:hwxk; /*华文楷体*/
	src:url("../../fonts/hwxk.ttf");
}

box-background, box-window, box-title, box-main, box-button-div{
	display: block;
}
box-button{
	display: inline-block;
}

box-background{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0.5;
	z-index: 1;
	
	animation: background_slow_in 1s;
	-moz-animation: background_slow_in 1s;	/* Firefox */
	-webkit-animation: background_slow_in 1s;	/* Safari 和 Chrome */
	-o-animation: background_slow_in 1s;	/* Opera */
}
box-window{
	position: absolute;
	width: 80%;
	height: auto;
	top: 50%;
	left: 50%;
	border: 3px outset #aaa;
	border-radius: 10px;
	overflow: hidden;
	background-color: #FFF;
	transform: translate(-50%, -50%);
	z-index: 2;
	
	/* animation: window_slow_in 1s;
	-moz-animation: window_slow_in 1s;	/* Firefox *//* 
	-webkit-animation: window_slow_in 1s;	/* Safari 和 Chrome *//* 
	-o-animation: window_slow_in 1s;	/* Opera */
}
box-title{
	width: 100%;
	height: auto;
	background-color: #ddd;
	font-size: 30px;
}
box-main{
	width: 100%;
	height: auto;
	background-color: #fff;
}
box-button-div{
	background-color: #eee;
}
box-button{
	color: #334;
	background-color: #eee;
	
	border: 2px outset #aaa;
	border-radius: 5px;
	
	text-align: center;
	line-height: 30px;
	
	font-size: 20px;
	font-family: hwxk;
}
box-button:active{
	border: 2px inset #aaa;
}

/* body{
	animation: body_slow_in_out 2s linear;
	-moz-animation: body_slow_in_out 2s linear;	/* Firefox *//* 
	-webkit-animation: body_slow_in_out 2s linear;	/* Safari 和 Chrome *//* 
	-o-animation: body_slow_in_out 2s linear;	/* Opera *//* 
} */

/* background_slow_in */
@keyframes background_slow_in{
	from {
		position: absolute;
		top: 100%;
		opacity: 0;
	}
	to {
		position: absolute;
		top: 0%;
		opacity: 0.5;
	}
}
@-moz-keyframes background_slow_in{ /* Firefox */
	from {
		position: absolute;
		top: 100%;
		opacity: 0;
	}
	to {
		position: absolute;
		top: 0%;
		opacity: 0.5;
	}
}
@-webkit-keyframes background_slow_in{ /* Safari 和 Chrome */
	from {
		position: absolute;
		top: 100%;
		opacity: 0;
	}
	to {
		position: absolute;
		top: 0%;
		opacity: 0.5;
	}
}
@-o-keyframes background_slow_in{ /* Opera */
	from {
		position: absolute;
		top: 100%;
		opacity: 0;
	}
	to {
		position: absolute;
		top: 0%;
		opacity: 0.5;
	}
}

/* background_slow_out */
@keyframes background_slow_out{
	from {
		position: absolute;
		top: 0%;
		opacity: 0.5;
	}
	to {
		position: absolute;
		top: -100%;
		opacity: 0;
	}
}
@-moz-keyframes background_slow_out{ /* Firefox */
	from {
		position: absolute;
		top: 0%;
		opacity: 0.5;
	}
	to {
		position: absolute;
		top: -100%;
		opacity: 0;
	}
}
@-webkit-keyframes background_slow_out{ /* Safari 和 Chrome */
	from {
		position: absolute;
		top: 0%;
		opacity: 0.5;
	}
	to {
		position: absolute;
		top: -100%;
		opacity: 0;
	}
}
@-o-keyframes background_slow_out{ /* Opera */
	from {
		position: absolute;
		top: 0%;
		opacity: 0.5;
	}
	to {
		position: absolute;
		top: -100%;
		opacity: 0;
	}
}

/* window_slow_in */
@keyframes window_slow_in{
	from {
		position: absolute;
		top: 100%;
		transform: translate(-50%, 0%);
		opacity: 0;
	}
	to {
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		opacity: 1;
	}
}
@-moz-keyframes window_slow_in{ /* Firefox */
	from {
		position: absolute;
		top: 100%;
		transform: translate(-50%, 0%);
		opacity: 0;
	}
	to {
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		opacity: 1;
	}
}
@-webkit-keyframes window_slow_in{ /* Safari 和 Chrome */
	from {
		position: absolute;
		top: 100%;
		transform: translate(-50%, 0%);
		opacity: 0;
	}
	to {
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		opacity: 1;
	}
}
@-o-keyframes window_slow_in{ /* Opera */
	from {
		position: absolute;
		top: 100%;
		transform: translate(-50%, 0%);
		opacity: 0;
	}
	to {
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		opacity: 1;
	}
}

/* background_slow_out */
@keyframes background_slow_out{
	from {
		position: absolute;
		top: 0%;
		opacity: 0.5;
	}
	to {
		position: absolute;
		top: -100%;
		opacity: 0;
	}
}
@-moz-keyframes background_slow_out{ /* Firefox */
	from {
		position: absolute;
		top: 0%;
		opacity: 0.5;
	}
	to {
		position: absolute;
		top: -100%;
		opacity: 0;
	}
}
@-webkit-keyframes background_slow_out{ /* Safari 和 Chrome */
	from {
		position: absolute;
		top: 0%;
		opacity: 0.5;
	}
	to {
		position: absolute;
		top: -100%;
		opacity: 0;
	}
}
@-o-keyframes background_slow_out{ /* Opera */
	from {
		position: absolute;
		top: 0%;
		opacity: 0.5;
	}
	to {
		position: absolute;
		top: -100%;
		opacity: 0;
	}
}

/* window_slow_out */
@keyframes window_slow_out{
	from {
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		opacity: 1;
	}
	to {
		position: absolute;
		top: 0%;
		transform: translate(-50%, -100%);
		opacity: 0;
	}
}
@-moz-keyframes window_slow_out{ /* Firefox */
	from {
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		opacity: 1;
	}
	to {
		position: absolute;
		top: 0%;
		transform: translate(-50%, -100%);
		opacity: 0;
	}
}
@-webkit-keyframes window_slow_out{ /* Safari 和 Chrome */
	from {
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		opacity: 1;
	}
	to {
		position: absolute;
		top: 0%;
		transform: translate(-50%, -100%);
		opacity: 0;
	}
}
@-o-keyframes window_slow_out{ /* Opera */
	from {
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		opacity: 1;
	}
	to {
		position: absolute;
		top: 0%;
		transform: translate(-50%, -100%);
		opacity: 0;
	}
}